.md-typeset__table {
  width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

thead tr th:first-child,
tbody tr td:first-child {
  --first-column-width: 33%;
  width: var(--first-column-width);
  min-width: var(--first-column-width);
  max-width: var(--first-column-width);
  word-break: break-word;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1ch;
}

:is([dir="ltr"], [dir="rtl"]) .md-typeset dt {
  text-align: right;
  grid-column: 1 / 2;
}

:is([dir="ltr"], [dir="rtl"]) .md-typeset dd {
  margin: 0;
  grid-column: 2 / -1;
}

dl > dd > * {
  /* TODO: Increase selector specificity so we don't have to use !important. */
  margin: 0 !important;
}
